/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ROOT VARIABLES */
:root {
    --off-white: #EFE6DD;
    --dark-blue: #0D4C73;
    --light-blue: #5FB6D9;
    --yellow: #F7A71C;
    --orange: #F25922;
    --deep-space: #001626;
    --font-heading: "Lobster", sans-serif;
    --font-subheading: "Bebas Neue", sans-serif;
    --font-text: "Roboto Condensed", sans-serif;
    --transition: all 0.3s ease;
}


/* GLOBAL/MOBILE/SMALL STYLES */
/* TEXT */
h1 {
    font-family: var(--font-heading);
    font-size: 48px;
    color: var(--yellow);
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    text-shadow: 0 4px 15px black;
    display: none;
}
h2, h3, h4, nav a, #temp {
    font-family: var(--font-subheading);
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4, nav a, p, input, dt, dd {
    font-size: 24px;
}
p, input, small, dt, dd {
    font-family: var(--font-text);
}
#weather h3, #weather p, dd {
    color: var(--dark-blue);
}
#temp {
    font-size: 100px;
}
dd {
    text-transform: capitalize;
}
small {
    font-size: 16px;
    color: var(--light-blue);
    padding-top: 10px;
}

/* LAYOUT */
.sr-only {
    position: absolute;
    left: -1000px;
}
body {
    max-width: 100vw;
    min-width: 402px;
    background-color: var(--deep-space);
}
header img {
    max-width: 280px;
    display: block;
    margin: 25px auto;
}
img {
    max-width: 100vw;
}
#movies h2 {
    color: var(--yellow);
    background-color: var(--deep-space);
    width: 200px;
    padding: 7px;
    text-align: center;
    margin: -25px auto 0;
}
#movies div {
    border: 3px solid var(--light-blue);
    border-radius: 10px;
    height: 500px;
    width: 350px;
    margin: 35px auto;
}
#nowPlaying {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
    padding: 10px 30px;
}
.subsec img {
    width: 250px;
}
#weather {
    background-image: linear-gradient(to bottom, var(--light-blue) 40%, var(--off-white) 100%);
    height: 430px;
    text-align: center;
}
#weather h2 {
    padding: 30px 0 10px;
}
#weather svg {
    width: 16px;
    padding-right: 10px;
}
#weather div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
}
#weather div p {
    color: var(--off-white);
    padding: 30px 0 20px;
}
dl {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    column-gap: 10px;
}
dt {
    text-align: right;
    font-weight: 700;
}
dd {
    text-align: left;
}
#info {
    background-color: var(--off-white);
    text-align: center;
    padding-bottom: 20px;
}
#info h3 {
    color: var(--deep-space);
    padding: 20px 0 10px;
}
#info p {
    color: var(--dark-blue);
    max-width: 275px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.divider {
    width: 350px;
    height: 1px;
    background-color: var(--dark-blue);
    margin: 0 auto;
}
footer {
    padding-top: 40px;
    text-align: center;
}
footer h3 {
    color: var(--yellow);
}
footer p {
    color: var(--off-white);
    padding: 15px 0;
    max-width: 320px;
    margin: 0 auto;
}
footer img {
    display: none;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}
#email, .submitBtn {
    height: 50px;
    border: none;
}
#email {
    background-color: var(--off-white);
    color: var(--dark-blue);
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    width: 280px;
}
.submitBtn {
    background-color: var(--orange);
    width: 50px;
    border-radius: 0 5px 5px 0;
    display: inline-flex;
    align-items: center;
}
.iconBtn path, .menu li a {
    transition: var(--transition);
}
.submitBtn:hover svg path {
    fill: var(--deep-space);
}
#social {
    display: grid;
    grid-template-areas:
        "h3 h3 h3"
        "svg1 svg2 svg3";
    width: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
}
#social h3 {
    grid-area: h3;
    padding-bottom: 10px;
}
#social a:hover svg path {
    fill: var(--off-white);
}
#social svg {
    width: 60px;
}
#social svg:first-of-type {
    grid-area: svg1;
}
#social svg:nth-last-of-type(2) {
    grid-area: svg2;
}
#social svg:last-of-type {
    grid-area: svg3;
}
#small {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--light-blue);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 16px;
}

/* NAVIGATION */
.menu {
  display: none;
  position: absolute;
  z-index: 50;
}
label svg {
    width: 32px;
    position: absolute;
    z-index: 40;
    top: 20px;
    right: 20px;
}
.menu-button:hover .iconBtn path {
    cursor: pointer;
    fill: var(--off-white);
}
#menu-toggle:checked ~ .menu{
    display: block;
    width: 100%;
    background-color: var(--deep-space);
}
.menu li {
    text-align: center;
    padding-bottom: 16px;
}
.menu li a {
    color: var(--off-white);
    text-decoration: none;
}
.menu li a:hover, .menu li a:active {
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding: 0 20px;
}


/* MEDIA QUERIES */
/* TABLET/MEDIUM STYLES (744PX) */
@media screen and (min-width: 744px){
    header {
        position: relative;
    }
    .menu-button {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 40px 0 40px 20px;
    }
    .menu li {
        padding-bottom: 0;
    }
    .menu li a:hover {
        margin: 0 -20px;
    }
    .menu li:last-of-type a{
        background-color: var(--orange);
        color: var(--off-white);
        padding: 8px 30px 6px;
        border-radius: 25px;
        transition: var(--transition);
        margin: 0;
    }
    .menu li:last-of-type a:hover {
        background-color: var(--off-white);
        color: var(--orange);
        border-bottom: none;
    }
    #logo {
        position: absolute;
        z-index: 10;
        top: 165px;
        left: 40px;
        margin: 0;
    }
    #banner {
        position: relative;
    }
    h1 {
        display: block;
        position: absolute;
        z-index: 5;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding: 80px 0;
        background-image: linear-gradient(to top, var(--deep-space) 10%, rgba(0, 11, 19, 0.7) 60%, rgba(0, 0, 0, 0) 100%);
        text-shadow: 0 4px 15px black;
    }
    #movies div {
        width: 700px;
        height: 430px;
    }
    #info {
        display: grid;
        grid-template-columns: 300px 60px 300px;
        grid-template-areas: 
            "section1 line section2"
            "section3 line section4";
        justify-content: center;
    }
    .line {
        grid-area: line;
    }
    .divider {
        display: none;
    }
    .divider:first-of-type {
        display: block;
        height: 340px;
        width: 1px;
    }
    footer {
        display: grid;
        grid-template-areas:
        "form social"
        "small small";
    }
    #social {
        height: 120px;
    }
    #small {
        grid-area: small;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 80px;
    }
}

/* LAPTOP/LARGE STYLES (1280PX) */
@media screen and (min-width: 1280px) {
    .menu {
        justify-content: right;
        gap: 60px;
        margin: 0 40px 0 0;
    }
    #logo {
        max-width: 450px;
        top: 50px;
    }
    #banner h1 {
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 600px;
        height: calc(100% - 2px);
        background-image: linear-gradient(to right, var(--deep-space) 10%, rgba(0, 11, 19, 0.7) 60%, rgba(0, 0, 0, 0) 100%);
        align-content: center;
        padding: 130px 140px 0 160px;
        font-size: 60px;
        text-align: left;
    }
    #main {
        display: grid;
        grid-template-areas: 
            "banner banner banner"
            "movies movies weather"
            "info info info";
    }
    #banner {
        grid-area: banner;
    }
    #movies {
        grid-area: movies;
    }
    #movies div {
        margin: 35px 20px 35px 75px;
    }
    #weather {
        grid-area: weather;
        width: 390px;
        margin-left: -95px;
        margin-top: 35px;
        border-radius: 10px;
        padding: 3px 0;
    }
    #info {
        grid-area: info;
        display: flex;
        flex-direction: row;
        padding: 20px 0;
    }
    #info section {
        border-right: 1px solid var(--dark-blue);
        padding: 10px 0;
    }
    #info section:last-of-type {
        border: none;
    }
    #info p {
        padding: 8px 20px 20px;
    }
    #info div:first-of-type {
        display: none;
    }
    footer {
        grid-template-areas:
            "form social img"
            "small small small";
    }
    #form {
        padding-left: 40px;
    }
    footer img {
        display: inline-block;
        height: 200px;
        grid-area: img;
        padding-bottom: 10px;
    }
}

/* DESKTOP/X-LARGE STYLES (1440PX) */
@media screen and (min-width: 1440px) {
    #logo {
        max-width: 500px;
        top: 40px;
    }
    #banner h1 {
        font-size: 72px;
        padding-top: 150px;
    }
    #movies div {
        width: 920px;
        margin-left: 50px;
        margin-right: 30px;
    }
}

